<header class="app-header">
    <div class="header-content">
        <h1 class="app-title">Baseball App</h1>
    </div>

    <!-- Overlay for dimming background when menu is open -->
    <div id="menu-overlay" class="menu-overlay"></div>

    <!-- Side Menu -->
    <nav id="side-menu" class="side-menu">
        <button class="close-menu-btn" id="close-menu-btn">✕</button>
        <ul>
            <li><a href="../pages/coachDashboard.html">Dashboard</a></li>
            <li><a href="../pages/fieldingFlyBall.html">FieldingFlyBall</a></li>
            <li>
                <a href="../pages/fieldingGroundBall.html"
                    >FieldingGroundBall</a
                >
            </li>
            <li><a href="../pages/baseRunning.html">Base Running</a></li>
            <li><a href="../pages/hitting.html">Hitting</a></li>
            <li><a href="../pages/pitching.html">Pitching</a></li>
            <li><a href="../pages/graphs.html">Graphs</a></li>
            <li><a href="../pages/playerDashboard.html">Tryouts</a></li>
            <li>
                <a href="../pages/invitationCodeManagement.html"
                    >Invitation Codes</a
                >
            </li>
            <li><a href="../pages/accountSetting.html">Account Settings</a></li>
            <li><a href="#" onclick="logout()">Logout</a></li>
        </ul>
    </nav>
</header>
