<header class="app-header">
    <div class="header-content">
      <h1 class="app-title">Baseball App</h1>
      <button class="hamburger" onclick="toggleMenu()">
        <img src="../assets/HeaderIcons/HamburgerMenu.png" alt="Menu" class="icon-img">
      </button>
      
    </div>
  
    <nav id="side-menu" class="side-menu hidden">
      <ul>
        <li><a href="../pages/coachDashboard.html">Dashboard</a></li>
        <li><a href="../pages/fieldingFlyBall.html">FieldingFlyBall</a></li>
        <li><a href="../pages/fieldingGroundBall.html">FieldingGroundBall</a></li>
        <li><a href="../pages/baseRunning.html">Base Running</a></li>
        <li><a href="../pages/hitting.html">Hitting</a></li>
        <li><a href="../pages/pitching.html">Pitching</a></li>
        <li><a href="../pages/graphs.html">Graphs</a></li>
        <li><a href="#">Tryouts</a></li>
        <li><a href="#" onclick="logout()">Logout</a></li>
      </ul>
    </nav>
  </header>
