.chartContainer
/* #chartContainer2 */
{
    display: flex;
    justify-content: center;
    width: 100%;  /* Make it narrower */
    height: 45%;
    /* max-height: 400px; */
    position: relative;
    margin: auto; /* Center it */
}


canvas {
    align-self: center;
    width: 100%;
    height: 50%;
}